<!DOCTYPE html>
<html>
	<head>
		<title>Shopping website</title>
	</head>
	<link rel = "stylesheet" type="text/css" href="static/styles.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='bolt_23731.ico') }}">
	<body>
		<h1>This is Pikachu's about me page</h1>
		<p>*PIKA* I was raised by a fine hooman who cares and loves for me!. He loves me and sometimes makes me toys out of legos.</p>
		<img src="{{ img }}" alt="Picture doesn't work"><br>
		<a href="index.html">Back!</a>
	</body>
</html>